.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input {
    font-size: 14px;
    padding: 12px 15px;
    border-radius: 25px;
    border: 2px solid #000;
    width: 40%;
    margin-bottom: 25px;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    margin-left: 80%;
}

.row {
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    background: pink;
}

.row p {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(45% - 2px);
    max-width: 45%;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid;
    padding: 10px;
    font-size: x-large;
    background: #faebd799;
}

body {
    background-image: linear-gradient(to bottom right, #d800ffa6, yellow);
    background-repeat: no-repeat;
    height: 100%;
}

html {
    height: 100%;
}

ul {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: rgb(43, 31, 101);
    color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    list-style: none;
    justify-content: space-around;
}

li a {
    color: white;
    text-decoration: none;
}

table {
    width: 100%;
    background-color: white;
}

thead {
    line-height: 45px;
}

td {
    padding-left: 10px;
}

tbody {
    line-height: 45px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid;
}